crash-reports/

XaeroWorldMap/
XaeroWaypoints/
saves/
mods/
logs/
temp/
tmp/
ct_dumps/
natives/
screenshots/
backups/

usercache.json
usernamecache.json
patchouli_data.json
.mixin.out/
servers.dat

# configs to ignore
config/xaerominimap.txt
config/xaeropatreon.txt
config/xaeroworldmap.txt
config/craftingtweaks-client.toml
config/cosmeticarmorreworked-client.toml
config/engineersdecor-client.toml
config/waystones-client.toml
config/platforms-client.toml
config/cookingforblockheads-client.toml
config/forgeendertech-client.toml
config/minecolonies-client.toml
config/webslinger-client.toml
config/upgrade_aquatic-client.toml
config/adlods-client.toml
config/adpoles-client.toml
config/structurize-client.toml
config/curios-client.toml
config/toolbelt-client.toml
config/uteamcore-client.toml
config/create-client.toml
config/wumpleutil-client.toml
config/cannycomposter-client.toml
config/jei/bookmarks.ini
config/tombstone-client.toml
config/bettersprinting-client.toml
config/defaultworldtype/world-types.txt
config/osv/resources.zip
config/defaultworldtype/world-types.txt
config/druidcraft-client.toml
config/caelus-client.toml
config/caelus-client.toml
config/valhelsia_structures-client.toml
local/ftbutilities/backups.json
local/ftbutilities/backups.json
